.main-div {
  border: 1px solid #f2f2f2;
  margin-top: 20px;
  background-color: #f2f2f2;
}

.header-text {
  font-weight: bold;
  font-size: 30px;
}

.footer-text {
  text-align: center;
  font-weight: bold;
}
