.mission-card {
  width: 100%;
  margin-bottom: 30px;
}

.card-img {
  padding: 15px;
}

.label-text {
  font-weight: bold;
  font-size: 12px;
}

.data-text {
  color: #686da4;
}

.card-body-text {
  border-bottom: 1px solid #000;
  padding-bottom: 2px;
  text-align: center;
}

.title-text {
  color: #444d93;
  font-size: 15px;
  margin-top: -25px;
}
